{
	"printWidth": 150,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"rangeStart": 0,
	"rangeEnd": -1,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss"]
}
